<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>关系列表</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="static/style/css/style20160105.css" rel="stylesheet" th:href="@{style/css/style20160105.css}"/>
	<link href="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="static/style/css/table.css"  th:href="@{style/css/table.css}"/>
	<link rel="stylesheet" href="static/style/css/bootstrap.min.css"  th:href="@{style/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="static/style/css/jquery.datetimepicker.css"  th:href="@{style/css/jquery.datetimepicker.css}"/>
</head>


<body>
<div class="x-body" >
	<div class="container" style="padding-top:30px;width:100%;">
		<div class="content">
			<!-- Content wrapper -->
			<div class="wrapper">
				<!--主页-->
				<div>
					<!-- Table with toolbar -->
					<div class="widget">
						<!--查询条件-->
						<div class="well">
							<form class="form-inline" role="form" id="query">
								<div class="form-group" style="margin-right:10px">
									<label>储干工号:</label>
									<input type="text" class="form-control" name="stuNumber" id="stuNumber" maxlength="128" placeholder="储干工号"/>
								</div>

								<div class="form-group" style="margin-right:10px">
									<label>导师工号:</label>
									<input type="text" class="form-control" name="tutorNumber" id="tutorNumber" maxlength="128" placeholder="导师工号"/>
								</div>

								<div class="form-group">
									<button type="button" class="btn btn-warning" id="querybtn">查询</button>
								</div>
								<div class="form-group  pull-right">
									<button type="button" class="btn btn-success" id="querybtn2">导入</button>
								</div>
								<div class="form-group  pull-right">
									<button type="button" class="btn btn-info" id="querybtn1">导出</button>
								</div>

							</form>
						</div>
						<!-- /well -->
					</div>

					<!--/数据表格-->

						<ul class="toolbar">
							<li><a href="javascript:void(0)" id="addTeacher"><i class="fa fa-user"></i><span>添加关系</span></a></li>
						</ul>
					<table class="table table-striped table-bordered table-hover" id="userTable">
						<thead>
						<tr>

							<th>#</th>
							<th>储干工号</th>
							<th>储干姓名</th>
							<th>导师工号</th>
							<th>导师姓名</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="6">
								<div id="total" class="pull-left" style="padding-top:20px;padding-left:10px">&nbsp;</div>
								<div class="pull-right">
									<ul class="pagination" id="pagination"></ul>
								</div>
							</td>
						</tr>
						</tfoot>
					</table>


				</div>

				<!--添加关系-->
				<div class="modal fade" id="addModal" role="dialog"
					 aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">添加关系</h4>
							</div>
							<form role="form" id="addform" method="post">
								<div class="modal-body">
									<div class="well">
										<div id="sucUpd" class="alert alert-success">
											<button type="button" class="close" id="close" aria-hidden="true">
												&times;
											</button>
											<strong>添加成功！</strong>
										</div>
										<div id="failUpd" class="alert alert-warning">
											<button type="button" class="close" id="close"   aria-hidden="true">
												&times;
											</button>
											<strong>添加失败！</strong>
										</div>

										<div class="alert alert-danger hide" id="tipError" style='color: white'>&nbsp;</div>
										<div class="form-group" style="margin-right:10px">
											<label>储干工号:</label>
											<select name="stuNumber" id="stuNumber" class="form-control">
												<option value="">请选择</option>
											</select>
										</div>
										<div class="form-group" style="margin-right:10px">
											<label>导师工号:</label>
											<select name="tutorNumber" id="tutorNumber" class="form-control">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
											data-dismiss="modal" id="cancel">取消</button>
									<button type="submit" class="btn btn-warning" id="addBtn">添加</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal -->
				</div>
				<!-- /添加用户-->
				<!--导入用户-->
				<div class="modal fade" id="importModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">导入用户</h4>
							</div>
							<form role="form" id="importform" method="post">
								<div class="modal-body">
									<div class="well">
										<div id="sucUpd" class="alert alert-success">
											<button type="button" class="close" id="close" aria-hidden="true">
												&times;
											</button>
											<strong>导入成功！</strong>
										</div>
										<div id="failUpd" class="alert alert-warning">
											<button type="button" class="close" id="close"   aria-hidden="true">
												&times;
											</button>
											<strong>导入失败！</strong>
										</div>
										<div class="alert alert-danger hide" id="tipError" style='color: white'>&nbsp;</div>
										<div class="form-group">
											<label for="userExcel">文件选择</label>
											<input type="file" id="userExcel" class="form-input" name="userExcel"/>
										</div>

									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
									<button type="submit" class="btn btn-warning" id="importBtn">开始导入</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal -->
				</div>
				<!--导入用户-->

				<!--修改-->
				<div class="modal fade" id="updateModal" role="dialog"
					 aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">变更导师</h4>
							</div>
							<form role="form" id="updateform">
								<div class="modal-body">
									<div class="well">
										<div id="sucUpd" class="alert alert-success">
											<button type="button" class="close" id="close" aria-hidden="true">
												&times;
											</button>
											<strong>修改成功！</strong>
										</div>
										<div id="failUpd" class="alert alert-warning">
											<button type="button" class="close" id="close"   aria-hidden="true">
												&times;
											</button>
											<strong>修改失败！</strong>
										</div>

										<div class="alert alert-danger hide" id="tipError" style='color: white'>&nbsp;</div>
										<div class="form-group" style="margin-right: 10px">
											<label>储干工号:</label>
											<input type="text" class="form-control" name="stuNumber" id="stuNumber" placeholder="储干工号" readonly="readonly"/>
										</div>
										<div class="form-group" style="margin-right: 10px">
											<label>新导师工号:</label>
											<input type="text" class="form-control" name="tutorNumber" id="tutorNumber" placeholder="新导师工号"/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelbtn">取消</button>
									<button type="submit" class="btn btn-warning" id="addBtn">修改</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal -->
				</div>
				<!-- 修改用户-->
				<div class="col-lg-1"></div>
			</div>
		</div>
	</div>
</div>
<script src="static/style/js/jquery.1.10.1.min.js" th:src="@{style/js/jquery.1.10.1.min.js}"></script>
<script src="static/style/js/bootstrap.min.js" th:src="@{style/js/bootstrap.min.js}"></script>
<script type="text/javascript"  src="static/style/lib/layui/layui.js" th:src="@{style/lib/layui/layui.js}"></script>
<script type="text/javascript" src="static/style/js/admin.js" th:src="@{style/js/admin.js}"></script>
<script src="static/style/js/service.ddlist.jquery.min.js" th:src="@{style/js/service.ddlist.jquery.min.js}"></script>

<!-- 表单验证 -->
<script src="static/style/js/validate/jquery.validate.min.js" th:src="@{style/js/validate/jquery.validate.min.js}"></script>
<script src="static/style/js/validate/additional-methods.js" th:src="@{style/js/validate/additional-methods.js}"></script>
<script type="text/javascript" src="static/style/js/jquery.dataTables.min.js" th:src="@{style/js/jquery.dataTables.min.js}"></script>
<!-- 表格 -->
<script type="text/javascript" src="static/style/js/common1.js" th:src="@{style/js/common1.js}"></script>
<!-- 分页 -->
<script src="static/style/js/jqPaginator/jqPaginator.min.js" th:src="@{style/js/jqPaginator/jqPaginator.min.js}"></script>
<!--时间插件-->
<script src="static/style/js/dateformat.js" th:src="@{style/js/dateformat.js}"></script>
<script src="static/style/js/jquery.datetimepicker1.js" th:src="@{style/js/jquery.datetimepicker1.js}"></script>
<script type="text/javascript">
	//<![CDATA[
	//表单验证
	$.validator.setDefaults({
		debug: true
	});

	$(document).ready(function(){
		//查询全部用户列表
		//时间控件初始化
		$('#begin').datetimepicker({format:"Y-m-d",timepicker:false});
		listUser();
		$("#chkAll").click(function(){
			chkAll("chkAll","chk");
		});

		//时间查询条件清空
		$("#updateTime").click(function(){
			$("#begin").val("");
		});

		//查询功能
		$("#querybtn").click(function(){
			listUser();
		});
		$("#querybtn1").click(function(){
			window.location.href='exportTeacher.do';
		});

		//导入用户
		$("#querybtn2").click(function(){
			$("label.error").remove();
			$("#importform #userExcel").val("");
			$("div#importModal #sucUpd").hide();
			$("div#importModal #failUpd").hide();
			$("#importModal").modal('show');
			//设置表单验证
			$("#importform").validate({
				//onfocusout:false,
				onkeyup:false,
				rules:{userExcel:{required:true}},
				messages:{userExcel:{required:"请选择要上传的Excel文件<br/>"}},
				submitHandler:function(){
					if(!$("#importform").valid()){
						$("div#importModal #sucUpd").hide();
						$("div#importModal #failUpd").hide();
					}
					else{
						var formData = new FormData();
						var name = $("#importform").val();
						formData.append("file",$("#userExcel")[0].files[0]);
						formData.append("name",name);
						$.ajax({
							url:"teacherExcelImport.do",
							type:"POST",
							data:formData,
							contentType:false,
							processData:false,
							success:function(response){
								if(response.tip=="success"){
									$("div#importModal #sucUpd").show();
									$("div#importModal #failUpd").hide();
									//关闭窗口后刷新列表
									$("#importform #cancel").click(function(){listUser();});
								}
								else{
									$("div#importModal #failUpd").show();
									$("div#importModal #sucUpd").hide();
								}
							},
							error:function () {
								$("div#importModal #failUpd").show();
								$("div#importModal #sucUpd").hide();
							}
						});

					}
				}
			});
		});

		//添加关系
		$("a#addTeacher").click(function(){
			$("#addform #stuNumber").val("");
			$("#addform #tutorNumber").val("");
			$("label.error").remove();
			$("div#addModal #sucUpd").hide();
			$("div#addModal #failUpd").hide();
			$("#addModal").modal('show');

			//验证工号是否已用

				$("#addform #stuNumber").empty();
				$.post("getStuNumber.do",{},function(response){
					$("#addform #stuNumber").parent().find("label.error").remove();
					var json = eval(response.list);
					for (var i = json.length - 1; i >= 0; i--) {
						$("#addform #stuNumber").prepend('<option value="' + json[i].geNumber + '">' + json[i].geName + '</option>')
					};
					$("#addform #stuNumber").prepend('<option value="">请选择</option>')
				});


			//验证工号是否已用

				$("#addform #tutorNumber").empty();
				$.post("getTutorNumber.do",{},function(response){
					$("#addform #tutorNumber").parent().find("label.error").remove();
					var json = eval(response.list);
					for (var i = json.length - 1; i >= 0; i--) {
						$("#addform #tutorNumber").prepend('<option value="' + json[i].geNumber + '">' + json[i].geName + '</option>')
					};
					$("#addform #tutorNumber").prepend('<option value="">请选择</option>')
				});

			//设置表单验证
			$("#addform").validate({
				//onfocusout:false,
				onkeyup:false,
				rules:{
					stuNumber:{required:true},
					tutorNumber:{required:true}
				},
				messages:{
					stuNumber:{required:"不能为空<br/>"},
					tutorNumber:{required:"不能为空<br/>"}
				},
				submitHandler:function(){
					if(!$("#addform").valid()){
						$("div#addModal #sucUpd").hide();
						$("div#addModal #failUpd").hide();
					}
					else{
						$.ajax({
							url:"Teacher.do",
							type:"POST",
							data:{"stuNumber":$("#addform #stuNumber").val(),
								"tutorNumber":$("#addform #tutorNumber").val()},
							success:function(response){
								if(response.tip=="success"){
									$("div#addModal #sucUpd").show();
									$("div#addModal #failUpd").hide();
									//关闭窗口后刷新列表
									$("#addform #cancel").click(function(){listUser();});
								}
								else{
									$("div#addModal #failUpd").show();
									$("div#addModal #sucUpd").hide();
								}
							}});

					}
				}
			});
		});

	});

	//查看用户
	function preview(obj){
		alert("待开发");
		/*
		var id =  $(obj).parent("td").attr("id");
		var geNumber = $(obj).parent("td").siblings("td").eq(1).html();
		window.location="allegeList.do?geNumber="+geNumber;*/
	}

	function listUser(){
		//查询条件
		var stuNumber = $("form#query #stuNumber").val();
		var tutorNumber = $("form#query #tutorNumber").val();

		//获取用户列表
		$.post('listTeacher.do', {"stuNumber":stuNumber, "tutorNumber":tutorNumber},
				function(response){
					//生成结果列表
					initDataTable("userTable", 6, new Array("stuNumber","stuName","tutorNumber","tutorName"), response.page,
							"listTeacher.do",  {"stuNumber":stuNumber,
								"tutorNumber":tutorNumber
							}, false, true, true, true,true,
							"<a href='javascript:void(0)' title='修改'  style='padding-right:20px' onclick='updateUser(this)'><i class='fa fa-edit'></i></a>"+
							"<a href='javascript:void(0)' title='删除'  style='padding-right:20px' onclick='delUser(this)'><i class='fa fa-trash'></i></a>"+
							"<a href='javascript:void(0)' title='查看'  style='padding-right:20px' onclick='preview(this)'><i class='fa fa-wrench'></i></a>",
							"id"
					);
					//设置查询条件
					$("form#query #stuNumber").val(stuNumber);
					$("form#query #tutorNumber").val(tutorNumber);
				}
		);
	}



	//修改
	function updateUser(obj){
		//初始化模态窗口
		var id = $(obj).parent("td").attr("id");
		var stuNumber = $(obj).parent("td").siblings("td").eq(1).html();
		var tutorNumber = $(obj).parent("td").siblings("td").eq(3).html();
		$("#updateform #stuNumber").val(stuNumber);
		$("#updateform #tutorNumber").val(tutorNumber);

		$("label.error").remove();
		$("div#updateModal #sucUpd").hide();
		$("div#updateModal #failUpd").hide();
		$("#updateModal").modal('show');
		//设置表单验证
		$("#updateform").validate({
			onfocusout:false,
			onkeyup:false,
			rules:{
				stuNumber:{required:true,rangelength:[7,7]},
				tutorNumber:{required:true,rangelength:[7,7]}
			},
			messages:{
				stuNumber:{required:"储干工号不能为空<br/>",rangelength:"请输入7位员工号<br/>"},
				tutorNumber:{required:"导师工号不能为空<br/>",rangelength:"请输入7位员工号<br/>"}
			}
		});

		$("#updateform").submit(function(){
			if(!$("#updateform").valid()){
				$("div#updateModal #sucUpd").hide();
				$("div#updateModal #failUpd").hide();
			}
			else{
				var stuNumber = $("#updateform #stuNumber").val();
				var tutorNumber = $("#updateform #tutorNumber").val();
				var data = {"stuNumber":stuNumber,"tutorNumber":tutorNumber};
				$.ajax({
					url:"Teacher.do",
					type:"PUT",
					data:JSON.stringify(data),
					contentType:"application/json",
					success:function(response){
						if(response.tip=="success"){
							$("div#updateModal #sucUpd").show();
							$("div#updateModal #failUpd").hide();
							$("#updateform #stuNumber").val("");
							$("#updateform #tutorNumber").val("");
							listUser();
						}else{
							$("div#updateModal #failUpd").show();
							$("div#updateModal #sucUpd").hide();
						}}
				})
			}
		});
	}

	//删除用户
	function delUser(obj){
			if(confirm("是否删除该关系？")){
				var id = $(obj).parent("td").attr("id");
				var data = {"id":id};
				$.ajax({
					url:"Teacher.do",
					type:"DELETE",
					data:JSON.stringify(data),
					contentType:"application/json",
					success:function(response){
						if(response.tip=="success"){
							alert("删除成功");
							listUser();
						}else if(response.tip=="error"){
							alert("删除失败!");
						}}
				});
			}

	}//]]>
</script>
</body>

</html>
